.carousel-content
    display: flex
    flex-direction: column
    align-items: center
    .carousel-text
        text-align: center
        h1
            color: white
            font-family: Satisfy
            font-weight: 500
            font-style: normal
            font-size: 60px
            span
                color: #ffa012
                font-family: Satisfy
                font-weight: 500
                font-style: normal
                font-size: 60px
        p
            width: 50vw
            color: white
            font-weight: bold
    .carousel-btn
        .crs-btn
            text-decoration: none
            background: #ffffff00
            padding: 12px 30px
            border-radius: 50px
            border: 2px solid #ffb03b
            color: white
            transition: 0.5s
            &:hover
                background: #ffb03b