.sec4
    display: flex
    flex-direction: column
    align-items: center
    gap: 3vh
    padding: 10vh 5vw
    h2
            font-family: Satisfy
            font-weight: 700
            font-style: normal
            span
                color: #ffa012
                font-family: Satisfy
                font-weight: 700
                font-style: normal
    .sec4-collaps
        display: flex
        flex-direction: column
        .sec4-collaps-btn
            display: flex
            justify-content: center
            button
                background: #fff
                border: none
                border: 2px solid #ffb03b
                border-radius: 50px
                padding: 10px 16px
                &:hover
                    background: #ffb03b
                    color: white
                &:active
                    background: #ffb03b
                    color: white
        .sec4-collaps-menu
            display: flex
            flex-direction: column
            flex-wrap: wrap
            gap: 1vw
            .menu
                display: flex
                flex-direction: column
                .menu-text
                    display: flex
                    gap: 3px
                    h4
                        color: #ffb03b
                    h5
                        font-weight: bold
                p
                    color: gray
@media (max-width: 428px)
    .sec4
        .sec4-collaps
            .sec4-collaps-btn
                flex-wrap: wrap
                gap: 5vw
            .sec4-collaps-menu
                    display: flex
                    flex-direction: column
                    flex-wrap: nowrap
                    .menu
                        display: flex
                        flex-direction: column