.sec5
    display: flex
    flex-direction: column
    align-items: center
    gap: 3vh
    padding: 10vh 3vw
    .sec5-text
        text-align: center
        h2
            font-family: Satisfy
            font-weight: 700
            font-style: normal
            span
                color: #ffa012
                font-family: Satisfy
                font-weight: 700
                font-style: normal
        p
            width: 45vw
    .sec5-navtab
        display: flex
        gap: 2vw
        .sec5-navtab-btn
            ul
                display: flex
                flex-direction: column
                align-items: start
                li
                    button
                        border: none
                        background: #fff
                        font-weight: bold
                        padding-inline: 1vw
                        &:hover
                            color: #ffa012
        .sec5-navtab-specials
            .tab-content
                .specials
                    display: flex
                    .specials-text
                        width: 40vw
                        h2
                            font-family: Satisfy
                            font-weight: 700
                            font-style: normal
                        p
                            color: gray
@media (max-width: 428px)
    .sec5
        .sec5-text
            p
                width: 90vw
        .sec5-navtab
            flex-direction: column
            p
                button
                    border-right: none
        .sec5-navtab-specials
            .tab-content
                .specials
                    flex-direction: column-reverse
                    .specials-text
                        width: 90vw
